[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rcmdr"]
	path = Rcmdr
	url = https://github.com/cran/Rcmdr
[submodule "RcmdrMisc"]
	path = RcmdrMisc
	url = https://github.com/cran/RcmdrMisc
[submodule "RcmdrPlugin.TeachingDemos"]
	path = RcmdrPlugin.TeachingDemos
	url = https://github.com/cran/RcmdrPlugin.TeachingDemos
[submodule "RcmdrPlugin.survival"]
	path = RcmdrPlugin.survival
	url = https://github.com/cran/RcmdrPlugin.survival
[submodule "effects"]
	path = effects
	url = https://github.com/cran/effects
[submodule "norm"]
	path = norm
	url = https://github.com/cran/norm
